images/icons/misc/Thumbs.db
images/icons/smile/Thumbs.db
images/smilies/Thumbs.db
images/upload_icons/Thumbs.db
files/*
! files/.htaccess
! files/index.htm
images/avatars/upload/*
! images/avatars/upload/.htaccess
! images/avatars/upload/index.htm
cache/production/*
cache/installer/*